.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: #000000;
}

.btn {
  margin-left: 1rem;
  padding: 1rem 1.3rem;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: rgb(239, 239, 239);
  color: #000000;
  text-decoration: none;
}
